body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    color:purple;
    margin-bottom: 10px; 
}

h2 {
    color: darkgreen;
}
